@media only screen and (min-width: 1200px) {
    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }

    .main-container{
        width: 90%;
    }
    
    #content-container{
        width: 90%;
    }

    /*
    Navigation bar
    *********************
    */
    .header{
        padding: 0 7%;
    }

    .header .navbar a{
        margin: 0 1em;
        font-size: 1.6em;
    }
    
    .header .navbar .navbar__button{
        padding: .5em 1em;
    }

    .website-styler .styler-form{
        padding: 1em;
    }
}
