/*
General layout stuff
*********************
*/
html{
    font-size: 55%;
}

.main{   
    margin: 6em 1rem;    
}

#content-container{
    margin: 1em 0em;
}


/*
*********************
Navigation bar*/
.header{
    padding: 1.5rem 0.5rem;
}

.header .navbar{
    width: 100%;
}

.header .logo{
    height: 6em;
}

.header .navbar .navbar__button{
    margin: .25em .5em;
    padding: 0.25em;
    font-size: 2em;
}

.footer{
    font-size: .5em;
}

/*
*********************
side bar*/
#decoration {
    width: 100%;
    height: 100%;
}

#decoration__stripLeft, #decoration__stripRight {
    width: 10vmin;
}

.website-styler .styler-form{
    padding: 0.5em 1em;
}

.website-styler .styler-form fieldset .form__row .form__label{
    padding: 0.5em 0;
    text-align: center;
}








