@media only screen and (min-width: 768px) {
    .main{
        margin: 0 7rem 0 7rem;
    }

    .main-container{
        width: 100%;
        background: var(--background);
    }
    
    #content-container{
        width: 90%;
    }

    .table-wrapper{
        content:"";
    }

        /*
    *********************
    side bar*/
    #decoration {
        pointer-events: none;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    #decoration__strip-left, #decoration__strip-right {
        position: absolute;
        background-color: pink;
        width: 5vw;
        z-index: -1;
        height: 100%;   
        background-image: url("../logo.png");
        background-repeat: repeat;
    }

    #decoration__strip-left{
        left: 0px;
    }

    #decoration__strip-right {
        right: 0px;
    }

    /* Appearence layout */
    .website-styler .styler-form fieldset .form__row .form__label,
    .website-styler .styler-form fieldset .form__row .form__input{
        flex: 1 1 10em;
        margin: 1em;
        padding: 1em;
    }
    
    .website-styler .styler-form fieldset .form__row .form__label{
        padding: 0.5em 1em;
        text-align: right;
    }

    .form__div-submitbtn,
    #element-selector-field{
        width: 100%;
    }

    .website-styler .styler-form fieldset legend{
        padding: .5em;
    }


}
