.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5rem;
  }

.dot__red {
    background-color: red;
}

.dot__green{
    background-color: green;
}

.dot__blue{
    background-color: blue;
}

.dot__yellow{
    background-color: yellow;
}

#menu-section__IceCream .card{
    background-color: pink;
}

#menu-section__Beverage .card{
    background-color: rgb(110, 84, 255);
}

.menu-section {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 0.7rem black;
}

.menu-section .card {
    border-radius: 1.5rem;
    opacity: 0.8;
}

.menu-section .card:hover{
    opacity: 1;
}

.menu-section .card p{
    margin: 0.5rem 0;   
}

.portion-selector{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.portion-selector button{
    padding: 0em 1em;
}

.menu-section__title {
    font-size: 3em;
    display: block;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0;
    color: white;
    -webkit-text-stroke: 0.04em black;
    box-shadow: 0 0 0.7rem black;
    background-color:rgb(255, 211, 66);
    border: 0.1em solid red;
    border-radius: 1em 1em 0em 0em;
    z-index: 100;
}

.portion-selector p{
    padding: 0em 1em;
}
.ingredients-overview .row .introduction__paragraph{
    margin: 5rem;
}

#shopping-basket {
    position: sticky;
    display: flex;
    bottom: 0;
    height: auto;
    background-color: yellow;
    border: 0.1rem solid black;
}

#shopping-basket__icon {
    display: block;
    width: 5rem;
    height: 5rem;
}

#shopping-basket__bought-container{
    display: inline;
    margin: 0.5rem;
    overflow: scroll;
    background-color: gray;
}

#shopping-basket__order-button {
    display: block;
    padding: 0.5rem;
    font-size: 1.5rem;
}