.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5rem;
  }

.dot__red {
    background-color: red;
}

.dot__green{
    background-color: green;
}

.dot__blue{
    background-color: blue;
}

.dot__yellow{
    background-color: yellow;
}

#menu-section__IceCream .card{
    background-color: pink;
}

#menu-section__Beverage .card{
    background-color: rgb(110, 84, 255);
}

.menu-section {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 0.7rem black;
    z-index: 100;
}

.menu-section .card {
    border-radius: 1.5rem;
    opacity: 0.8;
}

.menu-section .card:hover{
    opacity: 1;
}

.menu-section .card p{
    margin: 0.5rem 0;   
}

.menu-section__title {
    font-size: 3em;
    display: block;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0;
    color: white;
    -webkit-text-stroke: 0.04em black;
    box-shadow: 0 0 0.7rem black;
    background-color:rgb(255, 211, 66);
    border: 0.1em solid red;
    border-radius: 1em 1em 0em 0em;
}

.ingredients-overview .row .introduction__paragraph{
    margin: 5rem;
}
